body {
    background-color: aqua;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    text-align: center;
}

.container {
    background-color: blueviolet;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.header {
    width: 100%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 12px 12px;

}

input,
select {
    width: 80%;
    padding: 12px 12px;
    margin: 10px 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 15px;

}
button{
    width: 15%;
    padding: 14px 12px;
    margin: 7px 0;
    border: solid 1px black;
    font-weight: bold;
    background-color:darkgoldenrod;
    color: black;
    cursor: pointer;
    border-radius: 15px;
}
button:hover{
    background-color: yellow;
    color: brown;
}
.list-heading{
    font-size: 30px;
    text-align: center;
    width: 50%;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listData{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding-left: 30px;
    color: black;
    background-color: aquamarine;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}
.btn-position{
    position: relative;
    left: 20%;
    top: -54px;
}